#cloud-config
disable_root: false
ssh_pwauth: true

network:
  config: disabled

cloud_init_modules:
  - growpart
  - resizefs

cloud_config_modules:
  - runcmd

cloud_final_modules:
  - scripts-user

resize_rootfs: true

growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false

datasource_list: [ None ]
policy: search,found=all,maybe=all,notfound=disabled

runcmd:
  - touch /etc/cloud/cloud-init.disabled

warnings:
  dsid_missing_source: off
